# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle scroll-without-moving-cursor'
      'command': 'scroll-without-moving-cursor:toggle'
    }
    {
      'label': 'Scroll down some lines'
      'command': 'editor:lines-down'
    }
    {
      'label': 'Scroll up some lines'
      'command': 'editor:lines-up'
    }
    {
      'label': 'Scroll down a page'
      'command': 'editor:page-down'
    }
    {
      'label': 'Scroll up a page'
      'command': 'editor:page-up'
    }

  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'scroll-without-moving-cursor'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'scroll-without-moving-cursor:toggle'
        }
      ]
    ]
  }
]
